config.env
__pycache__/*
scape.db
scape.session
scape.session-journal
scape/__pycache__/*
scape/modules/__pycache__/*
scape/modules/sql_helper/__pycache__/*
.progress
.vscode/*
bin/*
TG_BOT_TOKEN.session